*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
ul li{
  list-style: none;
}
body{
  background-color:#F9F9F9;
}
:root{
  --orange: #F08F64;
}
.category-button{
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #F08F64;
}
/* navbar  */
.main-nav{
  background-color: #ffff;
  padding: 15px 15px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
} 

/* navbar  */
/* banner  */
#banner{
  padding: 50px 0;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#banner .banner h2{
  margin: 20px 0;
}
#banner .sidebar p{
  margin-top: 10px;
}
/* banner  */
/* news-categories */
#news-categories{
  padding: 50px 0;
}
.business-category{
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
width: 240px;
height: 320px;
  border-radius: 5px;
  padding: 10px;
}
.health-category{
  background: url(../images/pexels-pixabay-209977.jpg) no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
width: 240px;
height: 320px;
  border-radius: 5px;
  padding: 10px;
}
.sports-category{
  background: url(../images/pexels-pixabay-209977.jpg) no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
width: 240px;
height: 320px;
  border-radius: 5px;
  padding: 10px;
}
.world-category{
  background: url(../images/pexels-pixabay-209977.jpg) no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
width: 240px;
height: 320px;
  border-radius: 5px;
  padding: 10px;
}
/* news-categories */
/* editors pick  */
#editors-pick{
  padding: 50px 0;
  
}
.editors-pick{
  background-color: #ffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
.editors-pick-left{
  padding: 30px;
  width: 100%;
}
.editors-pick-left .news-desk{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

}
.editors-pick-right{
  background: url(../images/pexels-jibarofoto-2774556.jpg) no-repeat center center/cover;
width: 100%;
height: 100%;
}
/* editors pick  */
/* latest news  */
#latest-news{
  padding: 100px 0;
  background: var(--orange);
}
#latest-news h2{
  margin-bottom: 20px;
  font-size: 42px;
}
#latest-news .side{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.latest-news span{
margin: 30px 0 ;
}
.latest-news .img{
  width: 100%;
  height: 400px;
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  margin-bottom: 20px;
}
#latest-news .side-news{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
#latest-news .side-news .img{
  width: 100%;
  height: 100px;
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;

}
/* latest news  */
/* technology news  */
#technology-news{
  padding: 100px 0;
}
#technology-news h2{
  margin-bottom: 20px;
  font-size: 42px;
}
#technology-news .technology-news .img{
  width: 100%;
  height: 250px;
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  margin-bottom: 20px;
}
#technology-news .technology-news-right{
  width: 100%;
  height: 100%;
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* technology news  */
/* ad  */
#ad-campaigns{
  padding: 50px 0;
}
#ad-campaigns .ad-campaigns{
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 20px;
}
/* ad  */
/* team  */
#team{
  padding: 50px 0;
}
#team .team-member{
  background: url(../images/pexels-sora-shimazaki-5668886.jpg) no-repeat center center/cover;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 5px;
}
/* team  */
/* podcast  */
#podcast{
  padding: 50px 0;
}
#podcast .podcast-left{
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 5px;
}
#podcast .podcast-right{
  background: url(../images/pexels-joyanne-1186116.jpg) no-repeat center center/cover;
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 5px;
}
#podcast .podcast-right-main{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
/* podcast  */